{% extends "base.html" %}

{% load i18n admin_modify adminmedia %}
{% block extrahead %}{{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
        function validate(){
            a = $('#id_source').val();
            b = $('#id_database').val();
            c = $('#id_table').val();
            if (a == ""|a == null|b == ""|b == null|c == ""|c == null){
                alert('Please fill all the parameters before submit');
                return false;
            }
            else{
                return true;
            }
        }
        function change_database(a){
            $.get('/json/get_database_list/', {'source':a},function(data){$('#id_database').html(data)});
        }
        function change_tablelist(a,b){
            $.get('/json/get_table_list/', {'source':a, 'database': b},function(data){$('#id_table').html(data)});
        }
        $(document).ready(function(){
                $("#id_source").change(function () {
                    var str = "";
                    $("#id_source option:selected").each(function () {
                        str = this.value;
                        });
                    change_database(str);
                    })

                $("#id_database").change(function () {
                    var str = "";
                    $("#id_database option:selected").each(function () {
                        str = this.value;
                        });
                    change_tablelist($("#id_source").val(), str );
                    })
            })
   </script>
{% endblock %}
{% block content %}
    <div id="content-main">
        {% if "Admin" in group_list %}
            <div class="module">
                <table>
                    <caption><a href="#" class="section" title="Admin">Administration</a></caption>
                    <tr><th scope="row"><a href="/admin/converter/database/" title="Manage Database">{% blocktrans %}Manage Datasource{% endblocktrans %}</a></th></tr>
                </table>
            </div>
        {% endif %}
    </div>
    <h3>You can select data source here</h3>
    <form action="" method="post" onsubmit="return validate();">
        {% csrf_token %}
        <select name="source" id="id_source">
            {% for item in source_list %}
                <option value="{{item.0}}"{% ifequal item.0 source %} selected="selected"{% endifequal %}>{{item.1}}</option>
            {% endfor %}
        </select>

        <select name="database" id="id_database">
            {% for item in db_list %}
                <option value="{{item.0}}"{% ifequal item.0 db_name %} selected="selected"{% endifequal %}>{{item.1}}</option>
            {% endfor %}
        </select>
        
        <select name="table" id="id_table">
            {% for item in table_list %}
                <option value="{{item.0}}"{% ifequal item.0 table_name %} selected="selected"{% endifequal %}>{{item.1}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" />
        <hr/>
        <h4>Showing top 10 data for the selected table:</h4>
        <textarea name="response" id="id_response" rows=10 cols=80>{{response}}</textarea>
        <hr/>
        <h4>Showing triple model for the above data:</h4>
        {{triple_response|safe}}
    </form>
{% endblock %}
